In [1]:
# import pandas and statsmodels
import pandas as pd
import statsmodels.api as sm

In [2]:
# import the data

bitCases = pd.read_csv('Assignment_Data_Medical_Supply_Chain_Forecasting.csv')

# Use .head(10) to check the data
bitCases.head(10)

,Date,Temperature,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Day,Cases
0,1,57,1,0,0,0,0,0,0,Monday,69
1,2,53,0,1,0,0,0,0,0,Tuesday,100
2,3,39,0,0,1,0,0,0,0,Wednesday,69
3,4,49,0,0,0,1,0,0,0,Thursday,166
4,5,53,0,0,0,0,1,0,0,Friday,42
5,6,38,0,0,0,0,0,1,0,Saturday,113
6,7,60,0,0,0,0,0,0,1,Sunday,110
7,8,66,1,0,0,0,0,0,0,Monday,193
8,9,27,0,1,0,0,0,0,0,Tuesday,105
9,10,31,0,0,1,0,0,0,0,Wednesday,321

In [3]:
# Set X as Date and Temperature and y as Cases
X = bitCases[['Date','Temperature']]
y = bitCases['Cases']

In [4]:
# Fit the regression and print the results

# Add the constant to X
X = sm.add_constant(X)

# Fit the data
model = sm.OLS(y,X).fit()

# Print the model summary
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Cases   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     170.6
Date:                Thu, 08 Dec 2022   Prob (F-statistic):           5.20e-31
Time:                        05:30:42   Log-Likelihood:                -568.71
No. Observations:                  91   AIC:                             1143.
Df Residuals:                      88   BIC:                             1151.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          98.7527     63.529      1.554      0.124     -27.497     225.003
Date            9.3952      0.541     17.364      0.000       8.320      10.470
Temperature    -0.0171      1.271     -0.013      0.989      -2.543       2.509
==============================================================================
Omnibus:                        0.191   Durbin-Watson:                   1.455
Prob(Omnibus):                  0.909   Jarque-Bera (JB):                0.356
Skew:                          -0.078   Prob(JB):                        0.837
Kurtosis:                       2.737   Cond. No.                         347.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
# Replace Temperature with Temperature_lag to improve the model

# First, add Temperature_lag to our data

Temperature = bitCases['Temperature']  # give Termperature its own data frame
Temperature_lag = Temperature.shift(1)  # use the ".shift" Pandas command to move all values up one place

# Add 'Temperature_lag' to your bitCases data 
bitCases['Temperature_Lag'] = Temperature_lag

# Check it with .head(10)
bitCases.head(10)

,Date,Temperature,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Day,Cases,Temperature_Lag
0,1,57,1,0,0,0,0,0,0,Monday,69,NaN
1,2,53,0,1,0,0,0,0,0,Tuesday,100,57.0
2,3,39,0,0,1,0,0,0,0,Wednesday,69,53.0
3,4,49,0,0,0,1,0,0,0,Thursday,166,39.0
4,5,53,0,0,0,0,1,0,0,Friday,42,49.0
5,6,38,0,0,0,0,0,1,0,Saturday,113,53.0
6,7,60,0,0,0,0,0,0,1,Sunday,110,38.0
7,8,66,1,0,0,0,0,0,0,Monday,193,60.0
8,9,27,0,1,0,0,0,0,0,Tuesday,105,66.0
9,10,31,0,0,1,0,0,0,0,Wednesday,321,27.0

In [10]:
# Notice we have an NaN value in the first row since we don't have Date 0's temperature
# Therefore, we need to drop the first row, which is "index" = 0

bitCases.drop(index=bitCases.index[0], axis=0, inplace=True) 

bitCases.head()

# Notice in the output, Date="1" was removed and everything was moved up

,Date,Temperature,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Day,Cases,Temperature_Lag
1,2,53,0,1,0,0,0,0,0,Tuesday,100,57.0
2,3,39,0,0,1,0,0,0,0,Wednesday,69,53.0
3,4,49,0,0,0,1,0,0,0,Thursday,166,39.0
4,5,53,0,0,0,0,1,0,0,Friday,42,49.0
5,6,38,0,0,0,0,0,1,0,Saturday,113,53.0

In [7]:
# Then run the Regression
# Start by setting your new X as Date and Temperature_lag and y as Cases
X = [['Date','Temperature_lag']]
y = ['Cases']

# Add the constant to X


# Fit the data


# Print the model summary

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Cases   R-squared:                       0.817
Model:                            OLS   Adj. R-squared:                  0.813
Method:                 Least Squares   F-statistic:                     194.0
Date:                Tue, 01 Jun 2021   Prob (F-statistic):           8.55e-33
Time:                        11:49:10   Log-Likelihood:                -556.47
No. Observations:                  90   AIC:                             1119.
Df Residuals:                      87   BIC:                             1126.
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             300.0966     60.556      4.956      0.000     179.735     420.458
Date                9.9541      0.510     19.518      0.000       8.940      10.968
Temperature_lag    -4.4052      1.205     -3.656      0.000      -6.800      -2.010
==============================================================================
Omnibus:                        3.699   Durbin-Watson:                   1.306
Prob(Omnibus):                  0.157   Jarque-Bera (JB):                2.015
Skew:                          -0.021   Prob(JB):                        0.365
Kurtosis:                       2.268   Cond. No.                         351.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
# Add the seasonal coefficients to improve the model, using Monday as the basis (add all days except monday)
# Set your new X and y
Xseasonal = bitCases[['Date','Temperature_lag','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]
y = bitCases['Cases']

In [11]:
# Fit the seasonal regression and print the results
# Add the constant to X
X = sm.add_constant(X)

# Fit the data
model = sm.OLS(y,X).fit()

# Print the model summary
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Cases   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     170.6
Date:                Thu, 08 Dec 2022   Prob (F-statistic):           5.20e-31
Time:                        05:41:35   Log-Likelihood:                -568.71
No. Observations:                  91   AIC:                             1143.
Df Residuals:                      88   BIC:                             1151.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          98.7527     63.529      1.554      0.124     -27.497     225.003
Date            9.3952      0.541     17.364      0.000       8.320      10.470
Temperature    -0.0171      1.271     -0.013      0.989      -2.543       2.509
==============================================================================
Omnibus:                        0.191   Durbin-Watson:                   1.455
Prob(Omnibus):                  0.909   Jarque-Bera (JB):                0.356
Skew:                          -0.078   Prob(JB):                        0.837
Kurtosis:                       2.737   Cond. No.                         347.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.